<%= form_with(model: service, class: "contents") do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= form.hidden_field :container_id, value: @container&.id || service.container_id %>
  </div>

  

  <div class="my-5">
    <%= form.label :name, "Nombre" %>
    <%= form.collection_select :name, Service::NAMES, :to_s, :to_s, { include_blank: true }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :charge, "Cargo" %>
    <%= form.text_field :charge, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :start_date, "Fecha de inicio" %>
    <%= form.date_field :start_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :end_date, "Fecha de final" %>
    <%= form.date_field :end_date, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :invoiced, "Facturado" %>
    <%= form.check_box :invoiced, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  
  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
